<!DOCTYPE html>
<html>
	<head>
		<title>Simple Chat</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div id="chatPanel">
			<div id="nameEntry">
				<form id="userForm" action="">
					<input id="name" autocomplete="off" autofocus><button id="sendName">Becoming Self</button>
				</form>
			</div>
			<div id="chatWindow">
				<ul id="messages"></ul>
			</div>
			<div id="activeUsers">
				<h2 id="usersHeader">Who out there</h2>
				<ul id="users">
				</ul>
			</div>
			<div id="inputBox">
				<form id="sendForm" action="">
					<input id="send" autocomplete="off" /><button id="sendButton">Talking</button>
				</form>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/message.js"></script>
	</body>
</html>