<!DOCTYPE html>
<html>
	<head>
		<title>Simple Chat</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<input type="text" name="fname" autofocus>
		<div id="chatPanel">
			<div id="chatWindow">
				<ul id="messages"></ul>
			</div>
			<div id="activeUsers">
				<ul id="users">
					<li id="user">Who is out there?</li>
				</ul>
			</div>
			<div id="inputBox">
				<form action="">
					<input id="send" autocomplete="off" /><button id="sendButton">Send</button>
				</form>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/message.js"></script>
	</body>
</html>